---
import Hero from '@/components/Hero.astro';
import Section from '@/components/Section.astro';
import Layout from '@/layouts/Layout.astro';
import { SITE_NAME } from '@/lib/constants';
import { Github, Rocket, Star } from 'lucide-astro';
---

<Layout title={SITE_NAME} description='F1 data in real time. We have all the F1 seasons in just one place.'>
	<Hero />
	<Section title='Do you like this App?' description='You can built your own using our free and open source F1 API. F1 data in real time. We have all the F1 seasons in just one place.'>
		<section class="flex items-center space-x-2 md:space-x-8 flex-wrap py-6">
			<a href="https://f1api.dev" class="group relative inline-flex h-[calc(48px+8px)] items-center justify-center rounded-full bg-primary py-1 pr-14 font-medium text-secondary"><span class="z-10 pr-2">API</span><div class="absolute right-1 inline-flex h-12 w-12 items-center justify-end rounded-full bg-neutral-800 transition-[width] group-hover:w-[calc(100%-8px)]"><div class="mr-3 flex items-center justify-center"><Rocket/></div></div></a>
			<a href="https://github.com/Rafacv23/F1-api" title="GitHub Repository" class="hover:cursor-pointer group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-secondary px-6 font-medium text-primary duration-500"><div class="relative inline-flex -translate-x-0 items-center transition group-hover:-translate-x-6"><div class="absolute translate-x-0 opacity-100 transition group-hover:-translate-x-6 group-hover:opacity-0"> <Github/> </div><span class="pl-8">GitHub</span><div class="absolute right-0 translate-x-12 opacity-0 transition group-hover:translate-x-8 group-hover:opacity-100"> <Star/> </div></div></a>			
		</section>
	</Section>
</Layout>
