---
import { Heart } from "lucide-astro";
---

<footer class="bg-secondary text-primary py-8 rounded-t-lg shadow flex items-center justify-center">
    <div class="flex gap-2">Created with <Heart/> by <a href="https://github.com/rafacv23">Rafa Canosa</a></div>
</footer>