---
import { Github, Play, Star } from 'lucide-astro';

const currentYear = new Date().getFullYear();
---

<main>
	<section class="bg-secondary text-primary rounded-lg px-4 py-8 items-center justify-center flex flex-col h-screen">
			<img src={"logo.avif"} alt="F1 API Live" width={200} height={200} class="rounded-full"/>
			<h1>
				F1 API Live
			</h1>
			<h2>Your F1 data in real time.</h2>
			<section class="flex items-center space-x-8 flex-wrap py-6">
				<a href={`/${currentYear}`} title={`${currentYear} F1 Calendar`} class="group relative inline-flex h-[calc(48px+8px)] items-center justify-center rounded-full bg-primary py-1 pl-6 pr-14 font-medium text-secondary"><span class="z-10 pr-2">Live Results</span><div class="absolute right-1 inline-flex h-12 w-12 items-center justify-end rounded-full bg-neutral-800 transition-[width] group-hover:w-[calc(100%-8px)]"><div class="mr-2.5 flex items-center justify-center"><Play/></div></div></a>
				<a href="https://github.com/rafacv23/f1api-live.git" title="GitHub Repository" class="hover:cursor-pointer group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-secondary px-6 font-medium text-primary duration-500"><div class="relative inline-flex -translate-x-0 items-center transition group-hover:-translate-x-6"><div class="absolute translate-x-0 opacity-100 transition group-hover:-translate-x-6 group-hover:opacity-0"> <Github/> </div><span class="pl-8">GitHub</span><div class="absolute right-0 translate-x-12 opacity-0 transition group-hover:translate-x-8 group-hover:opacity-100"> <Star/> </div></div></a>			
			</section>
	</section>
</main>

<style>

	pre {
		font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
			'DejaVu Sans Mono', monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
