<nav class="flex items-center justify-center space-x-8 flex-wrap bg-indigo-500 p-6 rounded-b-lg shadow">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/blog">Blog</a>
</nav>