---
import Nav from '@/components/Nav.astro';
import { Github, Rocket } from 'lucide-astro';
---

<div>
	<Nav/>
	<main>
		<section class="bg-secondary text-primary rounded-lg px-4 py-8 items-center justify-center flex flex-col h-screen">
			<img src={"logo.avif"} alt="F1 API Live" width={200} height={200} class="rounded-full"/>
			<h1>
				F1 API Live
			</h1>
			<h2>Your F1 data in real time.</h2>
			<section class="flex items-center space-x-8 flex-wrap py-6 shadow">
				<a class="bg-primary text-secondary flex items-center justify-center  gap-2 px-4 py-2 rounded-lg hover:animate-pulse hover:transition" href="/2025">
					<Rocket/>
					Start
				</a>
				<a class="bg-secondary text-primary flex items-center justify-center gap-2 px-4 py-2 rounded-lg" href="https://astro.build/chat">
					<Github/>
					GitHub
				</a>
			</section>
		</section>
		<section class="bg-primary text-secondary rounded-lg px-4 py-8 items-center flex flex-col">
			<h3>
				Build your own App
			</h3>
			<p>Your F1 data in real time. Provided by our own public API. We have all the F1 seasons in just one place. </p>
			<section class="flex items-center space-x-8 flex-wrap py-6 shadow">
				<a class="bg-primary text-secondary flex items-center justify-center  gap-2 px-4 py-2 rounded-lg hover:animate-pulse hover:transition" href="https://f1api.dev">
					<Rocket/>
					API
				</a>
				<a class="bg-secondary text-primary flex items-center justify-center gap-2 px-4 py-2 rounded-lg" href="https://github.com/Rafacv23/F1-api">
					<Github/>
					GitHub
				</a>
			</section>
		</section>
	</main>
</div>

<style>

	pre {
		font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
			'DejaVu Sans Mono', monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
