---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import '@/styles/global.css'
import { ViewTransitions } from 'astro:transitions'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.avif" />
		<meta name="generator" content={Astro.generator} />
		<title>F1 API Live</title>
		<ViewTransitions/>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>

<style is:global>

@font-face {
	font-family: 'f1-regular';
	src: url('/fonts/Formula1-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-italic';
	src: url('/fonts/Formula1-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-bold';
	src: url('/fonts/Formula1-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-black';
	src: url('/fonts/Formula1-Black.woff2') format('woff2');
}
	html,

	h1 {
		font-family: f1-black;
	}
	h2, h3, h4, h5, h6 {
		font-family: f1-bold;
	}
	body {
		width: 100%;
		height: 100%;
		max-width: 900px;
		margin: auto;
		font-family: f1-regular;
		background-color: #090000;
		color: #ffa7a6
	}
	p{
		max-width: 600px;
	}

	a {
		font-family: f1-bold;
	}

	a > div {
		font-family: f1-regular;
	}

	a > header {
		font-family: f1-regular;
	}

</style>
