---
import '@/styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

@font-face {
	font-family: 'f1-regular';
	src: url('/fonts/Formula1-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-italic';
	src: url('/fonts/Formula1-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-bold';
	src: url('/fonts/Formula1-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-black';
	src: url('/fonts/Formula1-Black.woff2') format('woff2');
}
	html,

	h1 {
		font-family: f1-black;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
